/* Notes are taken from instructions on this URL: */
/* https://learn.co/tracks/full-stack-web-development-v7/css-continued/responsive-design/css-flexbox-code-along */

html,
body {
  margin: 0;
  padding: 0;
}


header {
  background-color: #FBFFF4;
  /* we will set the height property in the header and footer CSS blocks to 80px */
  height: 80px;
  width: 100%;
}

main {
  background-color: #92C9D5;
  width: 100%;
  height: 100%;
}

footer {
  background-color: #DAEEEF;
  /* we will set the height property in the header and footer CSS blocks to 80px */
  height: 80px;
  width: 100%;
}

/* First, create a block in index.css called .flex-container */
.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* 
    By default, flexbox will display content horizontally. 
    If we want to change this, we'll need to define a direction
  */
  flex-direction: column /* options are: row, column, row-reverse, and column-reverse */
}


/* 
    In our CSS file, define a block for .item with height and width set to 100px, 
    margin set to 5px, and background-color set to #FCF2EC. Now, in the main CSS block, 
    set display to flex. The two classes should look like the following:
*/
main {
  display: flex;
  background-color: #FBFFF4;
  width: 100%;
  height: 100%;

  /* Go back into index.css, and in .main, add the following line: */
  /* flex-wrap: wrap; */

  /* 
    If you add flex-direction: column to the main CSS block, 
    flexbox will still wrap items, but instead of in a new line underneath, 
    the items will appear in a new column to the right of the first.
  */
  /* flex-direction: column; */

  /* 
    In our CSS block labeled main, we've now got flex-direction and flex-wrap defined. 
    These two properties often go hand in hand, so CSS provides a shorthand property 
    that defines both in one line: flex-flow. To implement this, in the block main, 
    replace flex-direction and flex-wrap with the following:
  */
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
 
.item {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: #FCF2EC;
}