html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #FBFFF4;
  height: 80px;
  width: 100%;
}

main {
  align-items: center;
  justify-content: center;
  flex-flow: column;
  display: flex;
  background-color: #92C9D5;
  width: 100%;
  height: 100%;
}

footer {
  background-color: #DAEEEF;
  height: 80px;
  width: 100%;
}



/*flex-container*/

.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column-reverse;
}

.item {
  height:  100px;
  width: 100px;
  margin: 5px;
  background-color: #FCF2EC;
}
